.homepage {
  font-family: helvetica;
  font-size:35px;
  margin-bottom:.5em;
  text-align:right;
  float: right;
  display: block;
  position: absolute;
}
.container {
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: none;
  border: 1px;
  text-align: center;
}
.footer {
  text-align: center;
  color: #000000;
  font-size: 12px;
  padding-bottom: 3px;
}
