.homepage {
  font-family: helvetica;
  font-size:35px;
  margin-bottom:.5em;
  text-align:right;
  float: right;
  display: block;
  position: absolute;
}
.container {
  width:1000px;
  margin: 0 auto;
  position: relative;
}
.link {
  text-decoration:none}
.footer {
  text-align:center;
  color: #000000;
  font-size:32px;
  padding-bottom: 3px;
}
