.homepage {
  font-family: helvetica;
  font-size:35px;
  margin-bottom:.5em;
  text-align:right;
  float: right;
  display: block;
  position: absolute;
}

.container {
  width: 100px;
  height: 100px;
  align-items: center;
  position: absolute;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.footer {
  text-align: center;
  color: #000000;
  font-size: 12px;
  padding-bottom: 3px;
}
